<html>
    <body>
        <form action="http://localhost:5000/result" method="POST">
            <p>Name</p>
            <p><input type="text" name="Name"/></p>
            <p>Machine Learning</p>
            <p><input type="text" name="Machine Learning"/></p>
            <p>Cloud Computing</p>
            <p><input type="text" name="Cloud Computing"/></p>
            <p>Image Video Processing</p>
            <p><input type="text" name="Image Video Processing"/></p>
            <p><input type="submit" value="Submit"/></p>
        </form>
    </body>
</html>
